test.wav
test2.wav
offended.wav
test.flac
test2.flac
__pycache__/
dac/
encodec/
flac/
residuals.bin
residuals_truncated.bin

# FLAC repositories
flac_entropy_coding/
flac_lossy_estimating/

sashimi/outputs_clarified/
sashimi/s4/outputs/

lmic/outputs/

flac_eval_results.csv
flac_eval_plot*.pdf
lmic/lmic_eval_results.csv
lmic/lmic_eval_plot*.pdf